.formIcon {
  display: none;
  background: url("../images/FormIcon.svg");
  width: 20px;
  height: 20px;
}

form {
  width: 380px;
  height: 470px;
  background: #fff;
  border-radius: 10px;
}

form fieldset {
  margin: 0 auto;
  padding: 0 20px;
}

form legend {
  background: linear-gradient(#6a32b4, #552693);
  border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  padding: 25px 60px;
  text-align: center;
}

form label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
form label p {
  font-size: 18px;
  padding: 5px;
  color: #626366;
}
form label input {
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  color: #bcbfc4;
  background-color: #F5F3FF;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.1);
}
form label input:focus {
  outline: 0;
}
form label input:active {
  outline: 0;
}

form button {
  color: #fff;
  background: #ffa500;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  margin: 10px 0;
}

form span.confidentiality {
  font-size: 14px;
  color: #8a7979;
  display: flex;
  justify-content: center;
}

form .LockIcon {
  height: 16px;
  width: 16px;
  background: url("../images/LockIcon.svg");
  margin-right: 5px;
}
@media (max-width: 760px) {
  form {
    display: none;
  }

  /* It is button and it is in header ↓*/
  .formIcon {
    display: block;
  }
}
