.mainFrame {
  background: url('../images/Wave.svg') no-repeat bottom, url("../images/MainFrameBackground.svg") no-repeat;
  background-size: 100%;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 150px;
}
/* exploit ↓*/
.mainFrame .container {
  display: flex;
  justify-content: space-between;
}
/* MAINFRAIME FONTS ↓*/
.mainFrame__descriptor {
  width: 60%;
}
.mainFrame__descriptor h1,
.mainFrame__descriptor h2 {
  text-transform: uppercase;
}
.mainFrame__descriptor h1 {
  font-size: 66px;
  font-weight: 900;
}
.mainFrame__descriptor h2 {
  color: #969af7;
  font-size: 45px;
  font-weight: 900;
}
.mainFrame__descriptor p {
  color: #969af7;
  font-size: 22px;
  font-weight: 400;
}
/* MAINFRAIME FONTS ↑*/

/* MAINFRAIME GAPS ↓*/
.mainFrame__descriptor {
}
.mainFrame__descriptor h1 {
  margin: 20px 0;
}

.mainFrame__descriptor ul {
  margin: 20px 0;
  padding: 25px;
}
.mainFrame__descriptor ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.mainFrame__descriptor ul .checkIcon {
  background: url("../images/CheckIcon.svg");
  height: 11px;
  width: 14px;
  margin-right: 10px;
}
/* MAINFRAIME GAPS ↑*/

@media (max-width: 760px) {
  .mainFrame {
    background: url("../images/MainFrameBackground.svg") no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 0 20px;
  }

  /* MAINFRAIME FONTS ↓*/
  .mainFrame__descriptor {
    width: 100%;
    text-align: center;
  }
  .mainFrame__descriptor h1,
  .mainFrame__descriptor h2 {
    text-transform: uppercase;
  }
  .mainFrame__descriptor h1 {
    font-size: 33px;
    font-weight: 900;
  }
  .mainFrame__descriptor h2 {
    color: #969af7;
    font-size: 25px;
    font-weight: 900;
  }
  .mainFrame__descriptor p {
    color: #969af7;
    font-size: 14px;
    font-weight: 400;
  }
  /* MAINFRAIME FONTS ↑*/

  /* MAINFRAIME GAPS ↓*/
  .mainFrame__descriptor {
    margin-top: 30px;
  }
  .mainFrame__descriptor h1 {
    margin: 10px 0;
  }

  .mainFrame__descriptor ul {
    margin: 10px 0;
    padding: 10px;
  }
  .mainFrame__descriptor ul li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .mainFrame__descriptor ul .checkIcon {
    background: url("../images/checkIcon.svg");
    background-size: 100%;
    height: 5px;
    width: 7px;
    margin-right: 2px;
  }
  /* MAINFRAIME GAPS ↑*/
}
