.manufactures {
    background: url('../images/Wave_routed.svg') no-repeat 0 -0.5%, url('../images/Wave.svg') no-repeat bottom, url('../images/ManufacuresBackground.svg');
    background-size: 100%;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

.manufactures__title{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 40px;
}

.manufactures__slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.manufactures__description{
    font-size: 20px;
    margin-top: 40px;
}

.slider__arrow{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}

.slider__arrow_left{
background: url('../images/ArrowLeftIcon.svg')
}

.slider__arrow_right{
background: url('../images/ArrowRightIcon.svg')
}

.slider__images {
    display: flex;
}


.manufactures img {
    width: 200px;
    height: 140px;
}

@media (max-width: 760px){
    .slider__images img:nth-child(n + 4) {
        display: none;
    }
    .manufactures{
        padding: 40px 0;
    }
    .manufactures__title{
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    
    .manufactures__slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .manufactures__description{
        font-size: 14px;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .slider__arrow{
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
    }
    
    .manufactures img {
        width: 100px;
        height: 70px;
    }
}