.scheme__steps {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.step {
  width: 390px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step__inner {
    display: flex;
    width: 320px;
    height: 200px;
    color: #fff;
}

.step:nth-of-type(n+4) .step__inner {
    margin-top: 10px;

}
.step:nth-of-type(4) .step__inner {
    margin-top: 10px;
    margin-left: -30px;
}

.step__number{
    font-size: 36px;
    font-weight: 900;
    color: #969AF7;
}

.step__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.step__title{
    font-size: 25px;
    font-weight: 600    ;
}

.step__description {
    height: 120px;
    font-size: 16px;
}

/* Background SHAPES */

.step:nth-of-type(1) {
  background: url("../images/StepsShapes/Shape_1.svg") no-repeat;
  background-position: left top;
  background-size: 100%;
  order: 0;
}
.step:nth-of-type(2) {
  background: url("../images/StepsShapes/Shape_2.svg") no-repeat;
  background-position: left top;
  background-size: 100%;
  margin-right: -15px;
  order: 1;
}
.step:nth-of-type(3) {
  background: url("../images/StepsShapes/Shape_3.svg") no-repeat;
  background-size: cover;
  order: 2;
}
.step:nth-of-type(4) {
  background: url("../images/StepsShapes/Shape_6.svg") no-repeat;
  background-position: left top;
  background-size: 100%;
  order: 3;
}
.step:nth-of-type(5) {
  background: url("../images/StepsShapes/Shape_5.svg") no-repeat;
  background-position: left top;
  background-size: 100%;
  margin-left: -25px;
  order: 4;
}
.step:nth-of-type(6) {
  background: url("../images/StepsShapes/Shape_4.svg") no-repeat;
  background-position: left top;
  background-size: 100%;
  order: 5;
}
